@import url('https://fonts.googleapis.com/css?family=Baskervville|Raleway&display=swap');

.App {
  text-align: center;
}

h1 {
  font-family: 'Baskervville', serif;
}

h2, .footer_center{
  font-family: 'Raleway', sans-serif;
}
form{
  text-align: left;
}
.form-label{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
